1. Variables

In [1]:
name = "Abdulazeez"
age = 21

2. Lists

In [2]:
scores = [72, 88, 95, 60, 75]

3. Dictionaries

In [3]:
student = {"name": "Azeez", "age": 21, "grade": "A"}

4. Loops

In [4]:
for score in scores:
    print(score)

72
88
95
60
75

5. Functions

Write a function that:

accepts a list of numbers

returns mean, max, and min

In [5]:
def summarize(numbers):
  meann= sum(numbers)/ len(numbers)
  maxn= max(numbers)
  minn= min(numbers)
  return meann, maxn, minn

Try it on your scores list

In [6]:
sl= summarize(scores)
print(sl)

(78.0, 95, 60)

Vowel Counter

In [7]:
def count_vowels(text):
    vowels = "aeiouAEIOU"
    return sum(1 for char in text if char in vowels)

Duplicate Remover Tool

In [8]:
def remove_duplicates(my_list):
    unique_items = []
    for item in my_list:
        if item not in unique_items:
            unique_items.append(item)
    return unique_items